body{
background-color:#07004d;
padding:15px;
}
.sedan-regular {
  font-family: "Sedan", serif;
  font-weight: 400;
  font-style: normal;
}

.sedan-regular-italic {
  font-family: "Sedan", serif;
  font-weight: 400;
  font-style: italic;
}

#pimage{
	position: relative;
	left: 5px;
	top: 5px;
	background-image: url("Pimg.png");
	background-position: center;
	background-size: 500px;
	height: 400px;
	width: 400px;
	border-style: solid;
border-radius: 360px;
	border-color: #595959;
	border: 50px;
	z-index: 1;
}
#pimgbord{
background-color: #595959;
height: 410px;
width: 410px;
border-radius: 360px;
z-index: 2;
}
.cont{
    position: absolute;
    top: 159px;
    left: 250px;
    background-color: #595959;
    height: 270px;
    width: 810px;
    z-index: -1;
    border-radius: 25px;
}
#infbox {
    position: relative;
    z-index: 0;
    background-color: #CaCfD6;
    top: -30px;
    left: 5px;
    height: 259px;
    width: 800px;
    border-radius: 25px;
}
#inftxt{
position: inherit;
    top: 20px;
    left: 25%;
    font-size: 35px;
    width: 592px;
    font-family: "Sedan", serif;
}